[Unit]
Description=Opensauce23 Targets MQTT Consumer
After=syslog.target network.target

[Service]
Environment="MQTT_HOST=arm-display"
Environment="DEBUG=true"
Environment="DEVICE=/dev/ttyTargets"
Environment="BAUDRATE=14400"
ExecStart=/home/pi/opensauce23/venv/bin/python /home/pi/opensauce23/motion/target_scoring_mqtt_consumer.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
